
body {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container {

    max-width: 260px;
  
  
    
}

header {
    /* position: sticky; */
    min-height: 36px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
   
   
}

.logo {
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.25px;
   
    
    
}

.nav {
    overflow: hidden;
  }
  a {

    color: #fff;
    background-color: black;
    text-decoration: none;
    font-size: 24px;
   
    }
    a:hover {

    color: coral;
   
   
    
    }

  
  .nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .nav a:not(:only-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  


h1 {
    color: #fff;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.800000011920929px;
    text-align: center;
    

}


p {

    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;




}

img {
    max-width: 320px;
    margin-top: 50px;}



@media screen and (min-width: 600px ) {

    body {
        flex-direction: column;
        align-items: center;
    }

    .container {

        max-width: 640px;
        margin-top: 25px;
    }

   
    .logo {
        color: #fff;
        font-family: 'Baloo 2', cursive;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.25px;
    
        
        
    }
 

    nav {
        max-width: 275px;
    }

    a {

        color: #fff;
        background-color: #111;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        margin-left: 30px;
    }

    h1 {
        margin-top: 228px;
        font-size: 72px;
        font-weight: 500;
        line-height: 83px;
        letter-spacing: -1.600000023841858px;
        
    }

    p { 
        margin-top: 23px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: center;

    }

    img {
        max-width: 617px;
    }


    
}

@media screen and (min-width: 1000px ) {

    body {

        flex-direction: row;
    }

    .container {

        max-width: 410px;
        margin-top: 50px;
    }


    .logo {
        font-family: 'Actor';
    

    }

    nav {
        max-width: 275px;
    }

    a {

        color: #fff;
        background-color: #111;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        margin-left: 30px;
    }


    h1 {
        margin-top: 185px;
        font-size: 84px;
        font-weight: 500;
        line-height: 102px;
        letter-spacing: -2px;
        text-align: left;

    }
    p {
        margin-top: 44px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;

    }
    
    img {
        max-width: 585px;
    }
    
}

